.footer{
    background-color: #111111;
    color: #f8f8f8;
}

.footer__content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 80px 64px;
}

.footer {
font-family:
"Cormorant Garamond",
serif;

margin-bottom: 20px;
}

.footer__copyright {
font-size: 14px;
}